.login_div{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.login_form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}

.modal-body{
    padding: 3rem 2rem;
    color: black;
}

.login_title{
    display: flex;
    border-radius: 2rem;
    padding: 0.4rem;
    box-shadow: 0 0 0.4rem rgba(0,0,0,0.4);
    font-weight: bold;
    align-items: center;
    margin-bottom: 4rem;
}

.login_title > .account{
    align-self: flex-start;
    padding: 0.4rem;
    background: linear-gradient(to right, #3f9aff, #3f00f6);
    color: white;
    border-radius: 2rem;
}

.login_title > div{
    text-align: center;
    flex: 1;
}

.login_form label{
    font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.break{
    display: flex;
    align-items: center;
    color: grey;
    margin-top: 0.5rem;
    gap: 0.3rem;
}

.break span{
    border-bottom: 1px solid grey;
    flex: 1;
}

.login_tos{
    margin-top: 8rem;
}

.google_icon{
    align-self: center;
    border-radius: 50%;
    box-shadow: 0 0 0.3rem rgba(0,0,0, 0.4);
    padding: 0.5rem;
}

.google_icon img{
    width: 2rem;
}