.App {
  color: #36454f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* min-height: 100vh; */
  background-color: #f2f2f2;
}

a{
  text-decoration: none;
  color: inherit;
}

.active{
  color: #377eff;
}

/*Features */
.features{
  display: flex;
  padding: 2rem 12rem;
  background-color: #e7e7e7;
  justify-content: space-between;
  gap: 3rem;
}

.features div{
  flex:1;
  line-height: 1;
}

.features h6{
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.features small{
  font-size: 0.7rem;
}

/* Info */
.info{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.8rem;
  padding: 5rem 12rem;
}

.info div{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

/* Details */
.details{
  display: flex;
  padding: 2rem 12rem;
  gap: 1rem;
}

.detail{
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  gap: 1.5rem;
  flex: 1;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.3rem rgba(0,0,0,0.4);
}

.detail img{
  width: 5rem;
  height: 4rem;
}

.detail span{
  color: #1272ff;
}

/* Footer */
.footer{
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 10rem;
}

.footer .social_media{
  font-size: 2rem;
  display: flex;
  gap: 2rem;
}

.footer .copyright{
  text-align: right;
}

/* Flight info */
.flight_info{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 1rem;
  gap: 5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.3rem rgba(0,0,0,0.4);
}

.search_page{
  display: flex;
  flex-direction: column;
  min-height: 92vh;
  background-color: #e3eef4;
}

.search_hero{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
  background: linear-gradient(to bottom, #021222, #15397b);
  padding: 0 12rem;
  height: 35vh;
  
}

.search_hero > .search_main{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color:white;
  margin-top: 0.5rem;
}

.search_hero > .search_btn{
  padding: 0.4rem 2rem;
  margin: 0;
}

.search_hero .divs{
  background-color: #1c2939;
  padding: 0.2rem 1.5rem;
  border-radius: 0.5rem;
  flex: 1,
}

.search_hero .fare_types .form-check label{
  width: auto;
  color: white;
}

.fare_type{
  color: grey;
}

.filters_page{
  display: flex;
  margin-top: -8rem;
  gap: 2rem;
}

.filters{
  background-color: white;
  box-shadow: 0 0 0.3rem rgba(0,0,0,0.4);
  padding: 1rem;
  padding-right: 8rem;
}

.search_result{
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

.search_result h4{
  color: white;
}

.view_prices{
  border:none;
  color: #0078ff;
  background-color: #d8e9ff;
  border: 1px solid #0078ff;
  border-radius: 2rem;
  padding: 0.3rem 1.4rem;
  text-transform: uppercase;
}